/ProjectEuler1.class
/ProjectEuler2.class
/ProjectEuler3.class
/ProjectEuler4.class
/Question1_1.class
/Question1_2.class
/Question1_3.class
/Question1_4.class
/Question1_5.class
/Question1_6.class
/Question1_7.class
